# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.env
logs/
*.log

# Node
node_modules/
.vite/
# dist/  <-- Commented out to allow pushing locally built frontend for faster Render deploy
dist-ssr/
*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
